*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 7rem;
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 3rem;
  }
}

.title {
  font-family: "Readex Pro", sans-serif;
  line-height: 1.3;
  font-size: 4.2rem;
}

.subtitle {
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  font-size: 1.4rem;
}

.text__subtitle {
  padding: 0 40rem;
}
@media only screen and (max-width: 75em) {
  .text__subtitle {
    padding: 0 20rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .text__subtitle {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .text__subtitle {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .info__title {
    font-size: 4rem !important;
  }
}

.info__subtitle {
  font-size: 1.2rem !important;
}

.btn {
  padding: 1.4rem 5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  border: 1px solid #000;
  border-radius: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .btn {
    font-size: 1.2rem;
  }
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.blog__btn {
  padding: 2rem;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__btn:hover {
  background-color: #dce5e2;
  border-radius: 20rem;
}

.best {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.best__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.best__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.8rem;
}
@media only screen and (max-width: 75em) {
  .best__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card__product {
  height: 45rem;
  width: 41rem;
  padding: 4rem 0 1rem;
  background-color: #f8f9fa;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product__text {
  margin-bottom: 3rem;
}

.product__text--title {
  font-size: 2.8rem;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 2rem;
}

.spase-between {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phones {
  padding: 0 6rem;
}

.products {
  padding: 0 3rem;
}

.watchs {
  padding: 0 7rem;
}

.idea {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
.idea .idea__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.idea .idea__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}
@media only screen and (max-width: 37.5em) {
  .idea .idea__blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.blog__img {
  max-width: 62rem;
}

.blog__text .subtitle {
  font-size: 2.4rem;
}

.blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.8rem;
}

.look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .look {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
  }
}

.look__form {
  padding: 0.3rem 2rem;
  width: 60%;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border: 1px solid #c5c5c5;
  border-radius: 10rem;
}
.look__form label {
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .look__form {
    width: 90%;
  }
}
.look__form #inputText {
  padding: 2rem;
  width: 100%;
  background-color: #f8f9fa;
  border: none;
  font-size: 1.6rem;
  outline: none;
}
@media only screen and (max-width: 56.25em) {
  .look__form #inputText {
    max-width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .look__form #inputText {
    padding: 1.5rem;
  }
  .look__form #inputText::-moz-placeholder {
    font-size: 1.1rem;
  }
  .look__form #inputText:-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .look__form #inputText::-webkit-input-placeholder {
    font-size: 1.1rem;
  }
  .look__form #inputText::-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .look__form #inputText::placeholder {
    font-size: 1.1rem;
  }
}

.look__hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.hashtag__top,
.hashtag__buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .hashtag__top,
.hashtag__buttom {
    gap: 0.5rem;
  }
}

.top__btn,
.buttom__btn {
  padding: 1.4rem 2rem !important;
  font-size: 1.4rem;
}
@media only screen and (max-width: 37.5em) {
  .top__btn,
.buttom__btn {
    font-size: 1rem;
    padding: 1.4rem 1.6rem !important;
  }
}
.top__btn:hover,
.buttom__btn:hover {
  background-color: #dce5e2;
  border: 1px solid #dce5e2;
  color: #000;
}

.selled {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.selled__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.selled__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.8rem;
}
@media only screen and (max-width: 56.25em) {
  .selled__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card__sale {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .card__sale {
    -webkit-box-shadow: 3px 5px 2px rgba(128, 128, 128, 0.593);
            box-shadow: 3px 5px 2px rgba(128, 128, 128, 0.593);
    border-radius: 1rem;
  }
}
.card__sale:hover {
  -webkit-box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
          box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
}
.card__sale:hover .sale__text--price {
  background-color: #dce5e2;
  border-radius: 20rem;
}

.sale__img {
  overflow: hidden;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}
.sale__img:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.sale__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.sale__text--titile {
  font-size: 2.2rem;
}

.sale__text--price {
  padding: 1rem;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

.shop {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.5rem;
}

.shop__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.shop__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .shop__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__laptop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.laptop__mac {
  -webkit-box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
          box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  padding: 0 4rem;
}
.laptop__mac:hover {
  cursor: pointer;
}
.laptop__mac:hover img {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
@media only screen and (max-width: 37.5em) {
  .laptop__mac {
    padding-bottom: 1rem;
  }
}
.laptop__mac img {
  padding-right: 5rem;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

.mac__text {
  text-align: right;
}
.mac__text > h2 {
  font-size: 3.2rem;
}

.laptop__belt {
  -webkit-box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
          box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.6rem;
}
.laptop__belt:hover {
  cursor: pointer;
}
.laptop__belt:hover img {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
@media only screen and (max-width: 37.5em) {
  .laptop__belt {
    gap: 1rem;
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.laptop__belt img {
  width: 65%;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

.belt__text {
  text-align: right;
}
@media only screen and (max-width: 37.5em) {
  .belt__text {
    margin-bottom: 1rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: start;
    padding-left: 3rem;
  }
}
.belt__text > h2 {
  font-size: 3.2rem;
}

.card__phone {
  -webkit-box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
          box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 4rem;
}
.card__phone:hover {
  cursor: pointer;
}
.card__phone:hover img {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
@media only screen and (max-width: 56.25em) {
  .card__phone {
    padding-bottom: 1rem;
  }
}
.card__phone img {
  padding-left: 1.6rem;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

.phone__text > h2 {
  font-size: 3.2rem;
}

.card__tablet {
  -webkit-box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
          box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 4rem;
}
.card__tablet:hover {
  cursor: pointer;
}
.card__tablet:hover img {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
@media only screen and (max-width: 56.25em) {
  .card__tablet {
    padding-top: 1rem;
  }
}
.card__tablet img {
  padding-bottom: 4rem;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

.tablet__text > h2 {
  font-size: 3.2rem;
}

.thing {
  margin: 3rem auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  max-width: 93.5rem;
  background-color: #dce5e2;
  border-radius: 1.6rem;
}

.thing__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.thing__text > p,
.thing__text h2 {
  padding: 0 1rem;
}

.thing__img {
  max-width: 23rem;
}

.thing__form {
  padding: 0 0 0 2rem;
  border: 1px solid black;
  border-radius: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .thing__form {
    max-width: 90%;
  }
}
.thing__form #email {
  padding: 1.4rem;
  border: none;
  background-color: #dce5e2;
  font-size: 1.5rem;
  outline: none;
}
@media only screen and (max-width: 37.5em) {
  .thing__form #email {
    font-size: 1rem;
    padding: 1rem;
  }
}

.form__btn {
  padding: 1.4rem 3rem;
  border: none;
  border-radius: 0 5.4rem 5.4rem 0;
  background-color: #dce5e2;
  cursor: pointer;
}

.footer {
  padding: 3rem 7rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dce5e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__about {
  max-width: 24rem;
}
@media only screen and (max-width: 75em) {
  .footer__about {
    max-width: 20rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
}

.about__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
}
@media only screen and (max-width: 75em) {
  .about__menu {
    gap: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: left;
    gap: 3rem;
  }
}

.menu__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.menu__section h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.menu__section p {
  font-size: 1.7rem;
}

.header {
  margin: 3rem 0;
  background-color: #dce5e2;
  border-radius: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 75em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__info {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 75em) {
  .header__info {
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__info {
    padding: 2rem;
  }
}

@media only screen and (max-width: 75em) {
  .info__btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.info__title {
  font-size: 5.8rem;
}

.info__subtitle {
  font-size: 1.6rem;
}

.nav {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__logo {
  font-family: "Saira", sans-serif;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 70s ease;
  transition: -webkit-transform 70s ease;
  -o-transition: transform 70s ease;
  transition: transform 70s ease;
  transition: transform 70s ease, -webkit-transform 70s ease;
  cursor: none;
}
@media only screen and (max-width: 56.25em) {
  .nav__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.nav__logo:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 56.25em) {
  ul {
    background-color: #f8f9fa;
    width: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: absolute;
    top: -200%;
    left: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    z-index: 5;
  }
}

.active {
  top: 2.5rem;
}

.menu__links {
  padding: 1rem;
  text-transform: uppercase;
}
.menu__links:hover {
  padding: 1rem;
  background-color: #dce5e2;
  border-radius: 20rem;
}

.nav__search {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.nav__search img {
  cursor: pointer;
}
.nav__search img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.bin {
  position: relative;
}
.bin::before {
  content: "1";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: hotpink;
  position: absolute;
  top: -0.5rem;
  right: -0.7rem;
  display: grid;
  place-items: center;
}

#select {
  border: none;
  text-transform: uppercase;
  outline: none;
}

.burger__menu {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .burger__menu {
    display: none;
    z-index: 10;
  }
  .bar {
    display: inline-block;
    width: 4rem;
    height: 0.5rem;
    background-color: #000;
    position: relative;
    left: 1rem;
    z-index: 10;
    cursor: pointer;
  }
  .bar::after, .bar::before {
    content: "";
    width: 4rem;
    height: 0.5rem;
    background-color: #000;
    position: absolute;
    top: 1rem;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .bar::after {
    top: -1rem;
    left: 0;
  }
  .menu__ul.active ~ .bar::after {
    content: "";
    background-color: #dce5e2;
    -webkit-transform: translateY(1rem) rotate(225deg);
        -ms-transform: translateY(1rem) rotate(225deg);
            transform: translateY(1rem) rotate(225deg);
  }
  .menu__ul.active ~ .bar::before {
    content: "";
    background-color: #dce5e2;
    -webkit-transform: translateY(-1rem) rotate(-225deg);
        -ms-transform: translateY(-1rem) rotate(-225deg);
            transform: translateY(-1rem) rotate(-225deg);
  }
  .menu__ul.active ~ .bar {
    background-color: transparent;
  }
}