*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 7rem;
}

.title {
  font-family: "Readex Pro", sans-serif;
  line-height: 1.3;
  font-size: 4.2rem;
}

.subtitle {
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  font-size: 1.4rem;
}

.btn {
  padding: 1.4rem 5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  border: 1px solid #000;
  border-radius: 20rem;
  display: flex;
  align-self: start;
  text-align: center;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.blog__btn {
  padding: 2rem;
  font-size: 2.4rem;
  display: flex;
}
.blog__btn:hover {
  background-color: #DCE5E2;
  border-radius: 20rem;
}

.best {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.best__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.best__card {
  display: flex;
  gap: 2.8rem;
}

.card__product {
  min-width: 41rem;
  padding: 4rem 0 1rem;
  background-color: #F8F9FA;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product__text {
  margin-bottom: 3rem;
}

.product__text--title {
  font-size: 2.8rem;
}

.product__btn {
  display: flex;
  align-self: center;
  margin-bottom: 2rem;
}

.spase-between {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phones {
  padding: 0 6rem;
}

.products {
  padding: 0 3rem;
}

.watchs {
  padding: 0 7rem;
}

.idea {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.idea__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.idea__blog {
  display: flex;
  gap: 3.5rem;
}

.blog__img {
  max-width: 62rem;
}

.blog__text .subtitle {
  font-size: 2.4rem;
}

.blog__text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.look {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  align-items: center;
  gap: 2rem;
}

.look__form {
  padding: 0 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #C5C5C5;
  border-radius: 10rem;
}
.look__form input {
  border: none;
  padding: 2rem 2rem;
  outline: none;
  color: #000;
  font-size: 1.6rem;
}
.look__form ::-moz-placeholder {
  font-size: 1.5rem;
}
.look__form :-ms-input-placeholder {
  font-size: 1.5rem;
}
.look__form ::placeholder {
  font-size: 1.5rem;
}

.look__hashtag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hashtag__top {
  display: flex;
  gap: 1rem;
}

.top__btn,
.buttom__btn {
  padding: 1.4rem 2rem !important;
  font-size: 1.4rem;
}
.top__btn:hover,
.buttom__btn:hover {
  background-color: #DCE5E2;
  border: 1px solid #DCE5E2;
  color: #000;
}

.hashtag__buttom {
  display: flex;
  gap: 1rem;
}

.selled {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.selled__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.selled__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.card__sale {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.card__sale:hover {
  box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
}
.card__sale:hover .sale__text--price {
  background-color: #DCE5E2;
  border-radius: 20rem;
}

.sale__img {
  overflow: hidden;
  transition: transform 2s ease-in;
}
.sale__img:hover {
  transform: scale(1.5);
}

.sale__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sale__text--titile {
  font-size: 2.2rem;
}

.sale__text--price {
  padding: 1rem;
  font-size: 1.8rem;
  display: flex;
  align-self: start;
}

.shop {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
}

.shop__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text__subtitle {
  padding: 0 40rem;
}

.shop__card {
  display: flex;
  gap: 1.6rem;
}

.card__laptop {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.laptop__mac {
  box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  padding: 0 4rem;
}
.laptop__mac:hover {
  cursor: pointer;
}
.laptop__mac:hover img {
  transform: scale(1.6);
}
.laptop__mac img {
  padding-right: 5rem;
  transition: transform 2s ease-in;
}

.mac__text {
  text-align: right;
}
.mac__text > h2 {
  font-size: 3.2rem;
}

.laptop__belt {
  box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  gap: 4.6rem;
}
.laptop__belt:hover {
  cursor: pointer;
}
.laptop__belt:hover img {
  transform: scale(1.6);
}
.laptop__belt img {
  width: 65%;
  transition: transform 2s ease-in;
}

.belt__text {
  text-align: right;
}
.belt__text > h2 {
  font-size: 3.2rem;
}

.card__phone {
  box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}
.card__phone:hover {
  cursor: pointer;
}
.card__phone:hover img {
  transform: scale(1.6);
}
.card__phone img {
  padding-left: 1.6rem;
  transition: transform 2s ease-in;
}

.phone__text > h2 {
  font-size: 3.2rem;
}

.card__tablet {
  box-shadow: 0 14px 28px rgba(184, 184, 184, 0.817);
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.card__tablet:hover {
  cursor: pointer;
}
.card__tablet:hover img {
  transform: scale(1.6);
}
.card__tablet img {
  padding-bottom: 4rem;
  transition: transform 2s ease-in;
}

.tablet__text > h2 {
  font-size: 3.2rem;
}

.thing {
  margin: 3rem auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 93.5rem;
  background-color: #DCE5E2;
  border-radius: 1.6rem;
}

.thing__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.thing__text > p {
  padding: 0;
}

.thing__img {
  max-width: 23rem;
}

.thing__form {
  padding: 0 0 0 2rem;
  border: 1px solid black;
  border-radius: 5.4rem;
  display: flex;
  align-items: center;
}
.thing__form input {
  padding: 1.4rem;
  border: none;
  background-color: #DCE5E2;
  font-size: 1.5rem;
  outline: none;
}

.form__btn {
  padding: 1.4rem 3rem;
  border: none;
  border-radius: 0 5.4rem 5.4rem 0;
  background-color: #DCE5E2;
  cursor: pointer;
}

.header {
  margin: 3rem 0;
  background-color: #DCE5E2;
  border-radius: 3.2rem;
  display: flex;
  align-items: center;
}

.header__info {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info__title {
  font-size: 5.8rem;
}

.info__subtitle {
  font-size: 1.6rem;
}

.nav {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: "Archivo Black", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  transition: transform 70s ease;
  cursor: none;
}
.nav__logo:hover {
  transform: rotate(180deg);
}

.nav__menu > ul {
  display: flex;
  gap: 3rem;
}

.menu__links {
  padding: 1rem;
  text-transform: uppercase;
}
.menu__links:hover {
  padding: 1rem;
  background-color: #DCE5E2;
  border-radius: 20rem;
}

.nav__search {
  display: flex;
  gap: 2rem;
}
.nav__search img {
  cursor: pointer;
}
.nav__search img:hover {
  transform: scale(1.1);
}