.footer {
  padding: 3rem 7rem;
  background-color: $color-dark-white;
  border-top: 1px solid $color-greenish;
  display: flex;
  justify-content: space-between;
}
.footer__about {
  max-width: 30rem;
}

.about__menu {
  display: flex;
  gap: 10rem;
}
.menu__section {
  @include flex;
  gap: 1rem;

  h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.7rem;
  }
}
