.header {
  margin: $p3;
  background-color: $color-greenish;
  border-radius: 3.2rem;
  display: flex;
  align-items: center;
  @include respond (tablet-land) {
    flex-direction: column;
  } 
}
.header__info {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include respond (tablet-land) {
    text-align: center;
  } 
  @include respond(phone) {
    padding: 2rem;
  }
}
.info__btn {
  @include respond (tablet-land) {
   align-self: center;
  } 
}
.info__title {
  font-size: 5.8rem;
}

.info__subtitle {
  font-size: 1.6rem;
}
