.best {
  padding: $p3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 3rem;
}
.best__text {
  @include textCenter;
}

.best__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  @include respond(tablet-land) {
    flex-wrap: wrap;
  }
}
.card__product {
  height: 45rem;
  width: 41rem;
  padding: 4rem 0 1rem;
  background-color: $color-dark-white;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product__text {
  margin-bottom: 3rem;
}

.product__text--title {
  font-size: 2.8rem;
}
.product__btn {
  display: flex;
  align-self: center;
  margin-bottom: 2rem;
}

//exstra class
.spase-between {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phones {
  padding: 0 6rem;
}
.products {
  padding: 0 3rem;
}
.watchs {
  padding: 0 7rem;
}
