.look {
  @include flex;
  padding: $p3;
  align-items: center;
  gap: 2rem;
  @include respond(phone) {
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
  }
}

.look__form {
  padding: 0.3rem 2rem;
  width: 60%;
  background-color: $color-dark-white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid $color-input-border;
  border-radius: 10rem;
  label {
    width: 100%;
  }
  @include respond(tablet) {
    width: 90%;
  }

  #inputText {
    padding: 2rem;
    width: 100%;
    background-color: $color-dark-white;
    border: none;
    font-size: 1.6rem;
    outline: none;
    @include respond(tablet) {
      max-width: 100%;
    }
    @include respond(phone) {
      padding: 1.5rem;
      &::placeholder {
        font-size: 1.1rem;
      }
    }
  }
}

.look__hashtag {
  @include flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hashtag__top,
.hashtag__buttom {
  display: flex;
  gap: 1rem;
  @include respond(phone) {
    gap: 0.5rem;
  }
}
.top__btn,
.buttom__btn {
  padding: 1.4rem 2rem !important;
  font-size: 1.4rem;
  @include respond(phone) {
    font-size: 1rem;
    padding: 1.4rem 1.6rem !important;
  }
  &:hover {
    background-color: $color-greenish;
    border: 1px solid $color-greenish;
    color: #000;
  }
}
