//colors
$color-greenish: #dce5e2;
$color-dark-white: #f8f9fa;
$color-shadow: rgba(184, 184, 184, 0.817);
$color-input-border: #c5c5c5;
$color-push: hotpink;
//cards
$p3: 3rem 0;

$transition-img: transform 2s ease-in;
